
<style>
    .stacked > label{
        display: block;
    }
</style>


<h1>Signup Page</h1>
<form method="POST" action="/signup">
    <div class="stacked">
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div class="stacked">
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Sign Up</button>
</form>